<!-- Menu  Section -->
<div>
  <ul ngbNav>
    <li class="col-2" ngbNavItem>
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>Home</ng-template>
    </li>
    <li class="col-2" ngbNavItem>
      <a ngbNavLink>Products</a>
      <ng-template ngbNavContent>Products</ng-template>
    </li>
    <li class="col-2" ngbNavItem>
      <a ngbNavLink>About Us</a>
      <ng-template ngbNavContent>About Us</ng-template>
    </li>
    <li class="col-2" ngbNavItem>
      <a ngbNavLink>Contact Us</a>
      <ng-template ngbNavContent>Contact Us</ng-template>
    </li>
    <li class="col-2" ngbNavItem>
      <a ngbNavLink>Cart</a>
      <ng-template ngbNavContent>Cart</ng-template>
    </li>
  </ul>
</div>

<!-- Footer Section -->
