.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 1.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
  50% {
    transform: rotate(30deg);
  }
}
.router-link-active {
  // color: $color-primary;
  font-weight: 600;
}
.hightlight {
  color: #e31b6d;
}
.contactInfo {
  color: black;
}
.font-Main {
  font-size: 32px;
}
.btn.resumeBtn {
  color: #e31b6d;
  border-color: #e31b6d;
  font-size: 12px;
  margin: 10px;
}
.btn.linkedinBtn {
  color: blue;
  border-color: blue;
  font-size: 12px;
  margin: 10px;
}
.btn.githubBtn {
  color: green;
  border-color: green;
  font-size: 12px;
  margin: 10px;
}
// .background-image-skills {
//   text-align: center;
//   background-image: url(../assets/images/img-06.jpg);
//   opacity: 0.2;
// }
.faded-partition {
  border: 0;
  height: 1px;
  background-image: linear-gradient(90deg, transparent, #e31b6d, transparent);
}
.card-division {
  margin-bottom: 10px;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  //   width: 300px;
  height: 500px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
}

/* Style the back side */
.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: 300px;
}

h2 {
  line-height: 1.1;
  color: #e31b6d;
}
p {
  margin: 0 0 12.5px;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
ol,
ul {
  margin-top: 0;
  margin-bottom: 12.5px;
}
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:after,
.container:before {
  content: ' ';
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after,
.row:before {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-12 {
  float: left;
  width: 100%;
}
.col-xs-4 {
  width: 33.33333%;
}

.col-xs-6 {
  width: 50%;
}
.col-xs-10 {
  width: 83.33333%;
}
.col-xs-offset-1 {
  margin-left: 8.33333%;
}
@media (min-width: 768px) {
  .col-sm-5 {
    width: 41.66667%;
    float: left;
  }

  .col-sm-7 {
    width: 58.33333%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-4,
  .col-md-6,
  .col-md-8,
  .col-md-12 {
    float: left;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 12px 18px;
  font-size: 18px;
  line-height: 1.42857;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav:after,
.nav:before {
  content: ' ';
  display: table;
}
.nav:after {
  clear: both;
}
.nav > li,
.nav > li > a {
  position: relative;
  display: block;
}
.nav > li > a {
  padding: 10px 15px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:focus,
.nav > li.disabled > a:hover {
  color: #777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #eee;
  border-color: #1763e9;
}
.nav .nav-divider {
  height: 1px;
  margin: 11.5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.navbar {
  position: relative;
  min-height: 80px;
  border: 1px solid transparent;
}
.navbar:after,
.navbar:before {
  content: ' ';
  display: table;
}
.navbar:after {
  clear: both;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 2px;
  }
}
.navbar-header:after,
.navbar-header:before {
  content: ' ';
  display: table;
}
.navbar-header:after {
  clear: both;
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse:after,
.navbar-collapse:before {
  content: ' ';
  display: table;
}
.navbar-collapse:after {
  clear: both;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
}
@media (min-width: 768px) {
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-bottom,
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-bottom,
  .navbar-fixed-top {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-brand {
  float: left;
  padding: 27.5px 15px;
  font-size: 23px;
  line-height: 25px;
  height: 80px;
}
.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}
.navbar-brand > img {
  display: block;
}
@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand,
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 23px;
  margin-bottom: 23px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 13.75px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 25px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header,
  .navbar-nav .open .dropdown-menu > li > a {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-nav .open .dropdown-menu > li > a:hover {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 27.5px;
    padding-bottom: 27.5px;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #838383;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #e31b6d;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #e31b6d;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #fff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #e6e6e6;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: #fff;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #fff;
}
.navbar-default .navbar-link:hover {
  color: #e6e6e6;
}
.navbar-default .btn-link {
  color: #fff;
}
.navbar-default .btn-link:focus,
.navbar-default .btn-link:hover {
  color: #e6e6e6;
}
.navbar-default .btn-link[disabled]:focus,
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:focus,
fieldset[disabled] .navbar-default .btn-link:hover {
  color: #ccc;
}

.sr-only {
  background-color: white;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.section-container {
  padding: 60px 0;
}
.section-container-spacer {
  margin-bottom: 30px;
}
.hero-full-container {
  padding: 20% 0;
}
.white-text-container a,
.white-text-container h1,
.white-text-container h2,
.white-text-container h3,
.white-text-container h4,
.white-text-container h5,
.white-text-container p {
  color: #fff;
}
@media (min-width: 992px) {
  .hero-full-container {
    padding: 16% 0;
  }
}
.hero-container {
  padding: 120px 0 60px;
}
.background-image-container {
  text-align: center;
  background-image: url(../assets/images/wave-hero-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.navbar-default.active {
  border-color: transparent;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #252934;
}
@media (max-width: 768px) {
  .navbar-default.active .navbar-nav {
    margin-bottom: 60px;
  }
}
.navbar-brand > .navbar-logo-img {
  display: inline-block;
  margin-top: -5px;
  color: #e31b6d;
}
.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #e31b6d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  font-weight: 700;
}
.h1,
h1 {
  margin-bottom: 25px;
}
.h1:after,
h1:after {
  display: none;
}
.h2:after,
h2:after {
  content: '...';
  color: #e31b6d;
  display: block;
}
.h3,
h3 {
  color: #000;
}
.h4,
h4 {
  color: #838383;
  font-weight: 300;
}
.image-center {
  margin: 0 auto;
}
@media (max-width: 992px) {
  .image-center {
    margin: 20px auto;
  }
}
.card-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.05), 0 8px 8px rgba(0, 0, 0, 0.05), 0 16px 16px rgba(0, 0, 0, 0.05), 0 32px 32px rgba(0, 0, 0, 0.05);
}
@media (max-width: 992px) {
  .card-shadow {
    box-shadow: none;
  }
}
.card {
  background: #fff;
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 3px;
}
